@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Concert+One&family=Roboto+Mono:wght@100;200&display=swap');
/*variable declaration*/
:root{
    --primary-color: #FFFFFF;
    --secondary-color: #007EA7;
    --accent1-color: #00A7E1;
    --accent2-color: #003459;
  
    --heading-font: 'Caveat', serif;
    --paragraph-font: 'Roboto Mono', serif;
  
    --nav-background-color: #003459;
    --nav-link-color: #FFFFFF;
    --nav-hover-link-color: #003459;
    --nav-hover-background-color: #FFFFFF;
}

/*CSS delarations */
p {
    background-color:var(--primary-color);
    padding: 30px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 2.5vw;
}
body{
    max-width: 960px;
    padding: 20px;
    background-color: var(--accent2-color);
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
  }

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: orange;
  font-weight:bolder;
}
footer {
  margin: 1rem auto;
  border-bottom: 5px groove white;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
footer p{
  background-color: transparent;
  padding: 0px;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 100%;
}
footer nav a img {
  height: 50px;
  width: 50px;
  padding: 0px;
}
header {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-bottom: 5px groove white;
}
header img {
  width: 120px;
  height: 120px;
  margin-bottom: 5px;
}
figcaption {
  font-family: var(--paragraph-font);
  color: var(--primary-color);
  font-size: 0.75vw
}
/*class declarations */
.navbar {
  display: flex;
  /*list-style: none;*/
  align-items: center;
  justify-content: space-around;
}
.sociallinks {
  text-decoration: none;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}

.hero {
  position: relative;
}
.hero img {
  display: block;
  width: 100%;
  height: auto;
}
.hero h1 {
  position:absolute;
  bottom: 550px;
  width: 100%;
  height: auto;
  background-color: rgba(0, 52, 89,0.6);
  text-align: center 
}
.hero article img {
  width: 100px;
  height: 100px;
  float: right;
}
.hero article {
  position: absolute;
  bottom: 250px;
  width: 100%;
  height: auto;
  background-color:rgba(0, 52, 89,0.6);
  padding-bottom: 15px;
}
.hero article p {
  background-color: transparent;
  color: white;
  margin-top:0px;
  padding-top:0px;
}
.hero article h2 {
  margin:0px;
  font-size: 1.5vw;
  text-align: center;
}
.adventure {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}
.adventure h2 {
  grid-column: 1/5;
  grid-row: 1;
  text-align: center;
}
.adventure img{
  width: 100%;
  height: 100%;
  grid-row: 2;
 
}
.adventure .peaceriver {
  grid-column: 1/5;
  grid-row: 3;
}