* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}
Main{
    width: 500px;
}
main img {
    width:150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}
main p{
    width: 300px;
}
aside {
   width: 20em;
   position: relative;
   left: 220px;
   bottom: 190px;
}
aside img {
    width: 200px;
    height:auto;
}

aside h2{
    position: absolute;
    color: #FFCC66;
}

footer{
    margin-top: 20px;
    border-top: 3px solid brown;
    text-align: center;
    padding-bottom: 2px;
   background-color: #FFCC66;
}
ul {
    width: 10em;
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 8px inset brown;
    padding: 1rem;
    background-color: #FFCC66;
    color: #000;
  }